




{% load static %}
<head>

  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
  <link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
  <title>Creating presentations</title>
  <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Arya" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/cssmenu.css"/>
    <link rel="stylesheet" href="{% static 'css/cssmenu.css' %}">





      <style>
      body {
  font-family: "Arya", sans-serif;
  display: flex;
}

body #left {
  text-align: left;
}

body #left h2 {
  margin: 15px 0px 0;
}

body #left #select {
  display:inline-block;
}

body #left #select #color , body #left #select #picture {
  display:inline-block;
  flex-direction: column;
  padding: 0px 0px;
}
body #left #select #color button, body #left #select #picture button {
  font-family: "Arya", sans-serif;
  padding: 18px 18px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0px #95a5a6;
  margin: 8px 0px;
  font-size: 12px;
display: inline;


}
body #left #select #color button:hover, body #left #select #picture button:hover {
  background-color: skyblue;
}
body #aframe canvas {
  width: 100% !important;
  height: 100% !important;
}
body #picture button{
  background: url(max.ico);
}
body #terrain button{
  background-color: #D3D3D3;
   padding: 15px 15px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;

}
form {
  width:400px;
height:440px;
}
.prokrutka {
height: 580px; /* высота нашего блока */
width: 200px; /* ширина нашего блока */
background: #fff; /* цвет фона, белый */
border: 1px solid #C1C1C1; /* размер и цвет границы блока */

overflow-y: scroll; /* прокрутка по вертикали */
}
  .container {
  position: absolute;
  z-index: 1;
  background: white;
  padding: 1em;
}
    </style>





  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>


</head>

     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
			$('#cssmenu li.has-sub > a').on('click', function(){
				$(this).removeAttr('href');
				var element = $(this).parent('li');
				if (element.hasClass('open')) {
					element.removeClass('open');
					element.find('li').removeClass('open');
					element.find('ul').slideUp();
				}
				else {
					element.addClass('open');
					element.children('ul').slideDown();
					element.siblings('li').children('ul').slideUp();
					element.siblings('li').removeClass('open');
					element.siblings('li').find('li').removeClass('open');
					element.siblings('li').find('ul').slideUp();
				}
			});

			$('#cssmenu>ul>li.has-sub>a').append('<span class="holder"></span>');
        });
    </script>

<form method="post">
 <div id="left" >
  <div id="select">
<div id="cssmenu">


                {% csrf_token %}
        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="body" name="body">
        <input type="text" placeholder="background" name="background">




    <ul>
	<li class='has-sub'><a href='index.html'><span>Terrain</span></a>
	       <ul>
		    <div id="terrain">
                <button onclick="this.disabled=true;" name="city-mtl" value="City" class="city">City</button>
                  <button onclick="this.disabled=true;" name="mars-mtl" value="Mars" class="mars">Planet</button>

				  <button type="button"name="dey-mtl" value="Forest" class="dey">Forest</button>
				 </div>


          </ul>
	    </li>


               <li class='has-sub'><a href='#'><span>Background</span></a>
          <ul>
		      <div id="color">
          <button type="button" style="background-color:#c6aa99" class="#c6aa99"></button>
          <button type="button" style="background-color:#E1A600" class="#E1A600"></button>
          <button type="button" style="background-color:#290942" class="#290942"></button>
          <button type="button" style="background-color:#9392D2" class="#9392D2"></button>
          <button type="button" style="background-color:#1fa9e3" class="#1fa9e3"></button>
		  </div>
		 <div id="picture">
			<button type="button" style="background:url(icon/star.ico)" class="star"></button>
				 <button type="button" style="background:url(icon/cit.ico)" class="city"></button>
          <button type="button" style="background:url(icon/mars.ico)" class="mars" ></button>
				  <button type="button" style="background:url(icon/cosmos.ico)" class="cosmos"></button>
				  <button type="button" style="background:url(icon/dey.ico)"  class="dey"></button>
				  <button type="button" style="background:url(icon/jungle.ico)" class="blue" ></button>
				   <button type="button" style="background:url(icon/wasteland.ico)" class="wasteland" ></button>


				 </div>



        </li>

	</ul>
<li class='has-sub'><a href='#'><span>Stends</span></a>
          <ul>

		   <button type="button" name="city-mtl" value="City" id="btn-layout-straight"class="city">Directly</button>
           <button type="button" name="mars-mtl" value="Mars" class="mars" id="btn-layout-circle">In a circle</button>
           <button type="button" name="dey-mtl" value="Forest" class="dey">Scene</button>

<div class="prokrutka">
<div class="container1">
<button type="button" class="add_form_field">Add New Field &nbsp; <span style="font-size:16px; font-weight:bold;">+ </span></button>
</div>
</div>



				 </div>



        </li>

	</ul>




          </ul>
	    </li>
      <button type="submit" value="save" id="btn_get_post">SAVE</button>
</div>
</div>
</div>
</div>
</form>




<a-scene id="aframe" foo>
  <a-assets>
    <!-- Images. -->
	<img id="star" src="https://ucarecdn.com/30d7b1e6-2867-4396-a64d-8fb41e69ce0d/">
    <img id="city" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/city.jpg">
    <img id="cosmos" src="https://ucarecdn.com/34a5bbdb-1820-44c3-a848-26acd9356bbe/">
    <img id="sechelt" src="https://ucarecdn.com/40714251-095c-407e-9b5f-76f361db3b78/">
    <img id="blank" src="https://ucarecdn.com/fc2d2aa9-08b0-4d05-931c-85b78130d758/">
	<img id="mars" src="https://ucarecdn.com/4496c535-1b3d-4c1c-a24f-8fa6bcfb895a/">
	<img id="dey" src="https://ucarecdn.com/1bbbf75b-cc02-450a-91af-e528a6eaf8a1/">
	<img id="blue" src="https://c1.staticflickr.com/3/2929/33929340355_1fb4ecf6e0_k.jpg">
	<img id="wasteland" src="https://c1.staticflickr.com/5/4556/24549684008_5b18834af3_o.png">





      <img id="cobblestones" src="https://cdn.glitch.com/698891c8-2abb-4520-a188-67e9ab3be5ef%2FFloorStreets0072_1_270.jpg?1509915918092" crossorigin="anonymous" />
      <img id="moon" src="https://cdn.glitch.com/698891c8-2abb-4520-a188-67e9ab3be5ef%2Fevol_moon_2048x1024.00252_print.jpg?1509947414949" crossorigin="anonymous" />
      <img id="envmap" src="https://cdn.glitch.com/698891c8-2abb-4520-a188-67e9ab3be5ef%2Fscreenshot-codevember%20sword-1509947893116.jpg?1509947964544" crossorigin="anonymous" />



	<img id="blur-image" src="https://cdn.glitch.com/daae73ed-1502-4527-b809-03c18d6fb3e5%2Fblur.png?1503612651214">

        <a-asset-item id="street-lamp-obj" src="https://cdn.glitch.com/10eac27a-eba4-4e00-be20-e744cb21afd2%2Fmodel.obj?1503963016964"></a-asset-item>
        <a-asset-item id="street-lamp-mtl" src="https://cdn.glitch.com/10eac27a-eba4-4e00-be20-e744cb21afd2%2Fmaterials.mtl?1503963017033"></a-asset-item>

        <a-asset-item id="city-obj" src="https://cdn.glitch.com/10eac27a-eba4-4e00-be20-e744cb21afd2%2Fcity-block.obj?1504041197187"></a-asset-item>
        <a-asset-item id="city-mtl" src="https://cdn.glitch.com/10eac27a-eba4-4e00-be20-e744cb21afd2%2Fcity-block.mtl?1504041197228"></a-asset-item>

 <a-asset-item id="dey-obj" src="https://cdn.glitch.com/f20b51e2-bcd3-47c9-8cd2-8928357227f0%2Flowpolytree.obj?1541822463835"></a-asset-item>
 <a-asset-item id="mars-obj" src="https://cdn.glitch.com/f20b51e2-bcd3-47c9-8cd2-8928357227f0%2Fmountains.obj?1541911076654"></a-asset-item>
  <a-asset-item id="manufacturable-obj" src="https://cdn.glitch.com/f20b51e2-bcd3-47c9-8cd2-8928357227f0%2Fdebris.obj?1541911093399"></a-asset-item>
        <a-asset-item id="dey-mtl" src="https://cdn.glitch.com/f20b51e2-bcd3-47c9-8cd2-8928357227f0%2Flowpolytree.mtl?1541822474000"></a-asset-item>
 <a-asset-item id="mars-mtl" src="https://cdn.glitch.com/10eac27a-eba4-4e00-be20-e744cb21afd2%2Fcity-block.mtl?1504041197228"></a-asset-item>
        <a-mixin id="transition" dur="7000" direction="alternate" repeat="indefinite" easing="ease-out-cubic"></a-mixin>
  </a-assets>
  <a-sky id="sky" color="skyblue" ></a-sky>


<a-entity id='text-container' position="0 1.6 -0.5">  </a-entity>
    <a-entity id="output" text="value: output; align: center;" position="0 0 0"></a-entity>

      <a-plane id="ground" position="0 0 0" rotation="-90 0 0" width="100" height="100" color="#00FF00" material="roughness: 1;"></a-plane>


      <!-- Cityscape -->

      <a-obj-model class="obj_model" id="city-scape-left" position="-55 0 -40" rotation="0 90 0" scale="30 65 35" src="#blank" mtl="#city-mtl"></a-obj-model>
      <a-obj-model  class="obj_model" id="city-scape" position="-5 0 -40" rotation="0 90 0" scale="30 35 35" src="#blank" mtl="#city-mtl"></a-obj-model>
      <a-obj-model  class="obj_model" id="city-scape-right" position="50 0 -40" rotation="0 90 0" scale="30 65 35" src="#blank" mtl="#city-mtl"></a-obj-model>

      <!-- Street Lamp -->
      <a-entity id="street-lamp">
        <a-obj-model id="street-lamp-model" position="2 2 -5" rotation="0 180 0" src="#street-lamp-obj" mtl="#street-lamp-mtl"></a-obj-model>
        <a-light id="street-lamp-light" position="1.4 3.6 -5" type="point" intensity="0" color="#00E6FF">
          <a-animation attribute="light.intensity"
                       from="0"
                       to="1"
                       >
          </a-animation>
        </a-light>

        <a-image id="light-bulb-image" position="1.4 3.6 -5" rotation="-90 0 0" scale="0.6 0.6 0.6" opacity="0" src="#blur-image">
          <a-animation attribute="material.opacity"
                       from="0"
                       to="1"
                       >
          </a-animation>
        </a-image>


</a-scene>
  <script>
var textAreas = [];
var layout = "straight";

function createTextArea(wrapper) {

  const newTextArea = $(`<div><textarea type="text" value="text" name="fname" class="inputText" cols="20" rows="3"></textarea><input class="sendButton" type="submit" value="send" /></div>`);

  wrapper.append(newTextArea);

  const inputText = newTextArea.find(".inputText");
  const sendButton = newTextArea.find(".sendButton");

  var aframeWrapper = document.getElementById("text-container");
  const index = aframeWrapper.children.length;
  var position = new THREE.Vector3(index * 1.1, 0, 0);
  var newText = document.createElement("a-entity");
  newText.setAttribute("position", position);
  newText.setAttribute("text", {
    color: "white",
    align: "center",
    value: `text${index}`
  });
  aframeWrapper.appendChild(newText);

  sendButton.click(e => {
    e.preventDefault();
    newText.setAttribute("text", "value", inputText.val());
  });

  textAreas.push(newText);
}

$(document).ready(function() {
  var wrapper = $(".container1");
  var max_fields = 10;
  var add_button = $(".add_form_field");

	textAreas[0] = $("#output")[0];
  // create initial text area
  createTextArea(wrapper);

  var x = 1;
  $(add_button).click(function(e) {
    e.preventDefault();
    if (x < max_fields) {
      x++;
      createTextArea(wrapper);
      updateLayout();
    } else {
      alert('You Reached the limits')
    }
  });

  $(wrapper).on("click", ".delete", function(e) {
    e.preventDefault();
    $(this).parent('div').remove();
    x--;
  });



  $('#btn-layout-circle').on('click', function(e){
  	changeToCircleLayout();
  });

  $('#btn-layout-straight').on('click', function(e){
  	changeToStraightLayout();
  });

});


/* Converts from radians to degrees*/
function radToDeg(rad) {
	return rad * (180/Math.PI)
}

function updateLayout() {
	(layout === 'straight') ? changeToStraightLayout() : changeToCircleLayout();
}

/* Position and rotate the text frames IN FRONT OF the user */
function changeToStraightLayout(){
	// Distance between each textFrame
	var distance = 1.1;

	layout = "straight";

  for (var i = 0; i<textAreas.length; i++ ) {

    textAreas[i].setAttribute('position', {
      x: 	distance * i,
      y:	0,
      z:	0
    });

    textAreas[i].setAttribute('rotation', {
      x:	0,
      y:	0,
      z:	0,
    });
  }

}

/* Position and rotate the text frames AROUND the user */
function changeToCircleLayout() {
	// Radius of the circle layout
  var radius = 0.5;


	console.log(textAreas);

	layout = "circle";

  var pi = Math.PI;
  var sin = Math.sin;
  var cos = Math.cos;



  for (var i = 0; i<textAreas.length; i++ ) {
    var angle = (2*pi)/textAreas.length * i;

    textAreas[i].setAttribute('position', {
      x: 	sin(angle) * radius,
      y:	0,
      z:	-1 * cos(angle) * radius + radius
    });

    textAreas[i].setAttribute('rotation', {
      x:	0,
      y:	radToDeg(2*pi - angle),
      z:	0,
    });
  }


}

</script>

 <script >
     var sceneEl = document.querySelector('a-scene');


AFRAME.registerComponent('foo', {
  init: function () {
    var skyEl = sceneEl.querySelector('a-sky');
    //Changing color using JQuery here
    $(document).ready(function(){
      let color, src,mtl, terrain, text1;
	  $("#text1").click(function(e){
	    var x = document.getElementById("fname").value;
        //document.write(x);
        document.getElementById("output").innerText = x;

        return false;
	  });
      $("#color button").click(function(e){
        color = e.currentTarget.className;
        skyEl.setAttribute('src', '#blank');
        skyEl.setAttribute('color', color);

      });

	$("#picture button").click(function(e){
        src = e.currentTarget.className;
        skyEl.removeAttribute('color');
        skyEl.setAttribute('src', '#'+src);
      });
      $("#terrain button").click(function(e){
		 var skob = sceneEl.querySelectorAll('.obj_model');

        terrain = e.currentTarget.className;
		mtl = e.currentTarget.name;

		for (let index = 0; index <= skob.length; ++index) {
		//alert(mtl);
		//skyEl.setAttribute('color', '#1fa9e3');



    skob[index].setAttribute('src', '#'+terrain+'-obj');
	skob[index].setAttribute('mtl', '#'+mtl);
	if(terrain=='city'){
	skob[index].setAttribute('scale', '30 120 35');



	}
	else
	{
		skob[index].setAttribute('scale', '5 10 5') ;
		}
}


      });

    });
  }

});

      sourceURL=pen.js
    </script>



</body>



